<!DOCTYPE html>
<html lang="en" ng-app="myIboxApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import all CSS styles  -->
    <link type="text/css" rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"></link>
    <link type="text/css" rel="stylesheet" href="../bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css"></link>
    <link type="text/css" rel="stylesheet" href="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.csp.css"></link>
    <!--  <link type="text/css" rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"></link> -->
    <!--  <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/> -->
    <link type="text/css" rel="stylesheet" href="assets/css/index.css"></link>
    <link type="text/css" rel="stylesheet" href="assets/css/login.css"></link>
    <link type="text/css" rel="stylesheet" href="assets/css/signup.css"></link>
    <link type="text/css" rel="stylesheet" href="assets/css/dashboard.css"></link>

    <!-- Fonts -->
    <link type="text/css" rel="stylesheet" href="../node_modules/mdi/fonts/materialdesignicons-webfont.eot"></link>
    <link type="text/css" rel="stylesheet" href="../node_modules/mdi/fonts/materialdesignicons-webfont.svg"></link>
    <link type="text/css" rel="stylesheet" href="../node_modules/mdi/fonts/materialdesignicons-webfont.ttf"></link>
    <link type="text/css" rel="stylesheet" href="../node_modules/mdi/fonts/materialdesignicons-webfont.woff"></link>
    <link type="text/css" rel="stylesheet" href="../node_modules/mdi/fonts/materialdesignicons-webfont.woff2"></link>
    <!-- material design icons -->
    <link type="text/css" rel="stylesheet" href="../node_modules/mdi/css/materialdesignicons.min.css"></link>
    <link type="text/css" rel="stylesheet" href="../node_modules/mdi/css/materialdesignicons.min.css.map"></link>
    <link type="text/css" rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.min.css"></link>


    <title>My Inbox</title>

    <!-- Import all js libraries -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <!--  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!--  <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script> -->
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Avatar library -->
    <script src="../bower_components/angular-avatar/dist/angular-avatar.min.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

</head>

<body ng-controller="mainController as main" layout="column">
    <!-- Tool bar -->
    <md-toolbar class="md-hue-2" ng-controller="myThemeCtrl as theme" layout="row">

        <div class="md-toolbar-tools">

            <md-button class="md-icon-button" aria-label="Settings" ng-click="theme.toggleSideBar();">
                <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
            </md-button>

            <h2 flex md-truncate="">My Inbox</h2>

            <div class="toolbar-user-name">
                Hi, Aman Kareem
            </div>

            <div class="toolbar-user-avatar" layout="row">
                <img ng-src="assets/avatars/boy-x.svg" class="toolbar-img-avatar">
            </div>

            <md-menu md-position-mode="target-right target">

                <md-button class="md-icon-button" aria-label="More" ng-mouseenter="$mdMenu.open($event)">
                    <md-icon md-svg-icon="dots-vertical"></md-icon>
                </md-button>

                <md-menu-content width="4" class="toolbar-dropdown-menu-content">
                    <!-- Item -1 = Profile -->
                    <md-menu-item>
                        <md-button ng-click="ctrl.announceClick($index)">
                            <div layout="row" flex>
                                <md-icon md-menu-align-target md-svg-icon="assets/avatars/boy-x.svg" style="margin: auto 3px auto 0;"></md-icon>
                                <p class="toolbar-vertical-dot-item-title" flex>Profile</p>
                            </div>
                        </md-button>
                    </md-menu-item>

                    <md-divider></md-divider>
                    <!-- Item 2 = Logout -->
                    <md-menu-item>
                        <md-button ng-click="ctrl.announceClick($index)">
                            <div layout="row" flex>
                                <md-icon md-menu-align-target md-svg-icon="assets/icons/logout.svg" style="margin: auto 3px auto 0;"></md-icon>
                                <p class="toolbar-vertical-dot-item-title" flex>Logout</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>

        </div>

    </md-toolbar>

    <div class="container" layout="row" flex>
        <!-- Side  nav bar -->
        <!--  <side-nav-bar></side-nav-bar> -->

        <md-sidenav class="md-sidenav-left side-nav-bar" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="24" md-component-id="left">
            <md-list class="side-nav-bar-list">
                <!-- Profile avatar -->
                <md-card class="side-nav-bar-profile-card" layout="column" md-theme-watch>

                    <md-card-title class="side-nav-bar-profile-card-title">

                        <md-card-title-media>
                            <div>
                                <img ng-src="assets/avatars/boy-x.svg" class="md-card-image side-nav-bar-avatar" alt="Washed Out">
                            </div>
                            <a href="#" class="side-nav-bar-card-profile-img-change" md-ink-ripple>
                                <md-icon md-svg-icon="camera" class="side-bar-profile-img-chang"></md-icon>Change
                            </a>
                        </md-card-title-media>

                        <md-card-title-text>
                            <span class="md-subhead">
                                <h4>Mohd Aman Kareem</h4>
                            </span>
                            <span class="md-subhead">
                                <h4>amanwarlock555@gmail.com</h4>
                            </span>
                        </md-card-title-text>

                    </md-card-title>

                </md-card>

                <!-- Item -1 -->
                <md-list-item class="side-nav-bar-list-items" flex>
                    <md-button flex>
                        <div layout="row">
                            <md-icon md-svg-icon="assets/icons/email.svg" class="side-nav-bar-icons"></md-icon>
                            <div class="side-nav-bar-title" flex>
                                <h4>Inbox</h4>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>

                <!-- Item -2 -->
                <md-list-item class="side-nav-bar-list-items" flex>
                    <md-button flex>
                        <div layout="row">
                            <md-icon md-svg-icon="assets/icons/sent.svg" class="side-nav-bar-icons"></md-icon>
                            <div class="side-nav-bar-title" flex>
                                <h4>Sent</h4>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>

                <!-- Item - 3 -->
                <md-list-item class="side-nav-bar-list-items" flex>
                    <md-button flex>
                        <div layout="row">
                            <md-icon md-svg-icon="assets/icons/delete.svg" class="side-nav-bar-icons"></md-icon>
                            <div class="side-nav-bar-title" flex>
                                <h4>Trash</h4>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>

                <!-- Item - 4 -->
                <md-list-item class="side-nav-bar-list-items" flex>
                    <md-button flex>
                        <div layout="row">
                            <md-icon md-svg-icon="assets/icons/contacts.svg" class="side-nav-bar-icons"></md-icon>
                            <div class="side-nav-bar-title" flex>
                                <h4>Contacts</h4>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>

                <!-- Item - 5 -->
                <md-list-item class="side-nav-bar-list-items" flex>
                    <md-button flex>
                        <div layout="row">
                            <md-icon md-svg-icon="assets/icons/account.svg" class="side-nav-bar-icons"></md-icon>
                            <div class="side-nav-bar-title" flex>
                                <h4>Account</h4>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>

                <!-- Item - 6 -->
                <md-list-item class="side-nav-bar-list-items" flex>
                    <md-button flex>
                        <div layout="row">
                            <md-icon md-svg-icon="assets/icons/settings.svg" class="side-nav-bar-icons"></md-icon>
                            <div class="side-nav-bar-title" flex>
                                <h4>Settings</h4>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>

                <!-- Item - 7 -->
                <md-list-item class="side-nav-bar-list-items" flex>
                    <md-button flex>
                        <div layout="row">
                            <md-icon md-svg-icon="assets/icons/support.svg" class="side-nav-bar-icons"></md-icon>
                            <div class="side-nav-bar-title" flex>
                                <h4>Support</h4>
                            </div>
                        </div>
                    </md-button>
                </md-list-item>

                <md-divider></md-divider>

            </md-list>
        </md-sidenav>

        <!--Content body  -->
        <md-content class="content" flex>
            <ui-view></ui-view>
        </md-content>
    </div>
    <!-- Import all app related dependent files -->
    <!-- Services -->
    <script src="services/user.service.js"></script>
    <script src="services/services.js"></script>
    <!-- Factories -->
    <script src="factory/authInterceptor.js"></script>
    <script src="factory/auth.factory.js"></script>
    <script src="factory/avatar.factory.js"></script>
    <script src="factory/factory.js"></script>
    <!-- Directives -->
    <!-- Components -->
    <script src="components/sideNavBar/sideNavBar.component.js"></script>
    <script src="components/main.components.js"></script>
    <!-- Controllers/Modules -->
    <script src="controllers/auth/auth.module.js"></script>
    <script src="controllers/auth/auth.controller.js"></script>
    <script src="controllers/user/user.module.js"></script>
    <script src="controllers/user/user.controller.js"></script>
    <script src="controllers/dashboard/dashboard.module.js"></script>
    <script src="controllers/dashboard/dashboard.controller.js"></script>
    <script src="theme/theme.controller.js"></script>
    <script src="controllers/main.controller.js"></script>
    <!-- Main app.js -->
    <script src="app.js"></script>
</body>

</html>