.tool-bar {
    background-color: rgb(0, 105, 92);
    color: rgba(255, 255, 255, 0.87);
}

.toolbar-vertical-dot-item-title {
    padding-left: 5%;
}

.side-nav-bar {
    background-color: rgba(233, 224, 224, 0.938);
    color: dimgray;
}

.side-nav-bar-title {
    padding-right: 50%;
    padding-left: 10%;
    text-align: left;
}

.side-nav-bar-icons {
    color: currentColor;
}

.side-nav-bar-card-profile-img-change {
    font-size: 12px;
    color: dimgray;
}

.side-bar-profile-img-chang {
    min-height: 12px;
    max-height: 16px;
    min-width: 12px;
    max-width: 16px;
}

.side-nav-bar-profile-card {
    margin: 0;
    background-color: rgba(233, 224, 224, 0.938);
}

.side-nav-bar-profile-card-title {
    flex-direction: column;
    text-align: center;
}

.side-nav-bar-avatar {
    height: 100px;
}

.side-nav-bar-list {
    padding-top: 0;
}

.side-nav-bar-list-items {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.md-subhead {
    line-height: 0 !important;
}

.content {
    background-color: rgba(233, 224, 224, 0.938);
    color: dimgray;
    word-spacing: 0.3em;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

.toolbar-user-name {
    font-size: 15px;
    padding-right: 10px;
}

.toolbar-user-avatar {
    margin-right: 0;
}

.toolbar-img-avatar {
    height: 30px;
    width: 30px;
}

.toolbar-dropdown-menu-content {
    background-color: rgba(233, 224, 224, 0.938);
}

